<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Book List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body><h1>Book List</h1>
<h2><a href="addfilm">Add new film</a></h2> <br/><br/>
<h2><a href="deletefilm">Delete film</a></h2> <br/><br/>

<div class="container">
    <table class="container" border="1">
        <tr>
            <th><h1>Title</h1></th>
            <th><h1>Author</h1></th>
        </tr>
        <tr th:each="film : ${films}">
            <td contenteditable="true" th:utext="${film.title}">...</td>
            <td contenteditable="true" th:utext="${film.author}">...</td>
        </tr>
    </table>
</div>
</body>
<script>
    let beforeChanges;
    $('[contenteditable]').click(function(event) {
        beforeChanges = event.target.innerText;
        console.log(beforeChanges);
    });

    $('[contenteditable]').focusout(function(event) {
        let changes = event.target.innerText;
        if(beforeChanges !== changes) {
            console.log(changes);
            $.ajax({
                url: '/edit',
                type: 'PUT',
                data: { beforeChanges: beforeChanges, changes: changes}
            });
        }
    });

    $('#delete').click(function(){
        $('input:radio:checked').each(function(){
            $.ajax({
                url: '/deleteSong',
                type: 'DELETE',
                data: {song: $(this).val()}
            });
        });
        window.location.reload();
    });
</script>
</html>